/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    --main-font: #4c525a;
  }
  body {
    font-family: 'Proximanova opt', sans-serif;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: var(--main-font);
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #f9f9f9;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(50, 50, 50);
    position: relative;
  }
  
  .nav-links a:hover {
    color: black;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .auth-buttons .login {
    padding: 8px 15px;
    font-size: 14px;
    color: #01b289;
    background-color: #ffffff;
    border: 2px solid #01b289bf;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .auth-buttons .signup {
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #01b289;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-buttons .login:hover,
  .auth-buttons .signup:hover {
    color: white;
    background-color: #01b289bf;
  }



.bg.bl {
    top: -90%;
    right: -10%;
    width: 90%;
    height: 190%;
}
.bg {
    position: absolute;
    left: 500px;
    top: 700px;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
}

  .p-p{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 1px;
    justify-content: space-around;
    align-items: center;
  }
  .pp{
    font-family: 'Amerigo-bt roman opt';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
  }
  .tg{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tg h2{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.22px;
    text-transform: uppercase;
  }
  .tg img{
    position: absolute;
    left: auto;
    right: -9%;
    bottom: 15px;
  }
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0px 28px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#01b289;
    border-radius: 30px;
    transition: 0.3s;
  }
  
  .toggle-slider::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  .toggle-input:checked + .toggle-slider::before {
    transform: translateX(30px);
  }
  .container-pricing {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    margin: 50px 70px;
    justify-content:space-around;
  }
  
  .plan {
    flex: 1 1 300px; 
    background-color: white;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
    width: 32%;
    padding: 6% 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items:start;
    text-align:left;
    font-size: 18px;
    transition: transform 0.3s ease;
    position: relative;
    padding: 90px 40px 10px 40px;

  }
  .fi{
    display: flex;
    padding: 10px 0px;
  }
  .right{
    display: inline;
    margin: 0px 10px;
  }
  .plan-n{
    color: var(--main-font);
    font-size: 26px;
    font-weight: 600;
  }
  .p,.fi{
    color: var(--main-font);
    font-size: 14px;
  }
  .price {
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
    margin-top: 20px;
    border-bottom: 2px solid #01b289;
}
  .dollar {
    position: relative;
    top: 10px;
    margin-right: 10px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
    
}
.perm{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.4;
    margin: 0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
}
.fi {
    display: flex;
    padding-bottom: 18px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 23px;
}
.pricing-b{
    margin: auto 0 0 0 ;
    width: 100%;
}
.pricing-b a{
    width: 100%;
    padding: 22px 25px;
    border-radius: 4px;
    background-color: #00b289;
    font-weight: 700;
    text-align: center;
    letter-spacing: .7px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    border: 0;
    line-height: inherit;
}
.pt {
    position: absolute;
    left: auto;
    top: 50px;
    right: -109px;
    bottom: auto;
    width: 360px;
    padding: 11px 100px;
    background-color: #01b289;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.super{
    font-family: 'Amerigo-bt roman opt';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
    text-align: center;
}
.box{
    display: flex;
    margin: 10px 150px;
    padding: 40px 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, .05);
}
.b-n{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
}
.b-p{
    font-size: 1rem;
    font-weight: 300;

}
.r{
    width: 20%;
    padding-top: 36px;
    padding-bottom: 36px;
}
.r .d{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
}
.r .t{
    text-transform: uppercase;
    text-align: center;
    font-size: .875rem;
    line-height: 133%;
    font-weight: 400;
}
.l a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: smaller;
    background-color: transparent;
    color: #00b289;
    text-decoration: none;
    cursor: pointer;
    display: flex;
}

  @media (max-width: 1100px) {
   .plan{
    flex: 1 1 800px; 
    max-width: 800px;
   }
   .blue-shape {
    right: 2%;
}
.nav-links,.auth-buttons{
  display: none;
}
  }
  
  